In [4]:
import pandas as pd
import geopandas
from pandas import DataFrame

/Users/birdfifty/Documents/py/nwcc_util/lib/python3.8/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.1-CAPI-1.14.2). Conversions between both will be slow.
  warnings.warn(

In [4]:
df = pd.DataFrame(
    {'City': ['Buenos Aires', 'Brasilia', 'Santiago', 'Bogota', 'Caracas'],
     'Country': ['Argentina', 'Brazil', 'Chile', 'Colombia', 'Venezuela'],
     'Latitude': [-34.58, -15.78, -33.45, 4.60, 10.48],
     'Longitude': [-58.66, -47.91, -70.66, -74.08, -66.86]})

In [5]:
gdf = geopandas.GeoDataFrame(
    df, geometry=geopandas.points_from_xy(df.Longitude, df.Latitude))

In [6]:
print(gdf.head())

           City    Country  Latitude  Longitude                     geometry
0  Buenos Aires  Argentina    -34.58     -58.66  POINT (-58.66000 -34.58000)
1      Brasilia     Brazil    -15.78     -47.91  POINT (-47.91000 -15.78000)
2      Santiago      Chile    -33.45     -70.66  POINT (-70.66000 -33.45000)
3        Bogota   Colombia      4.60     -74.08    POINT (-74.08000 4.60000)
4       Caracas  Venezuela     10.48     -66.86   POINT (-66.86000 10.48000)

In [2]:
ar= [[6.98899,100.20831],[7.10658,100.05704],[7.23755,100.59734],[8.50352,98.58305]]
ar

[[6.98899, 100.20831],
 [7.10658, 100.05704],
 [7.23755, 100.59734],
 [8.50352, 98.58305]]

In [5]:
df = DataFrame(ar,columns=['lat','lng'])
df

       lat        lng
0  6.98899  100.20831
1  7.10658  100.05704
2  7.23755  100.59734
3  8.50352   98.58305

In [6]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.lng, df.lat))
gdf.set_crs(epsg=4326, inplace=True)
gdf

       lat        lng                   geometry
0  6.98899  100.20831  POINT (100.20831 6.98899)
1  7.10658  100.05704  POINT (100.05704 7.10658)
2  7.23755  100.59734  POINT (100.59734 7.23755)
3  8.50352   98.58305   POINT (98.58305 8.50352)

In [7]:
countries_gdf = geopandas.read_file("data/tambon.gpkg", layer='tambon',crs={'init': 'epsg:4326'})
countries_gdf

,PROV_NAMT,AMP_NAMT,TAM_NAMT,tam_id,code_id,FID_MainBa,MB_CODE,region,NBASIN_T,geometry
0,สงขลา,รัตภูมิ,เขาพระ,900909,900909.0,23,20,ใต้,ทะเลสาบสงขลา,"MULTIPOLYGON (((100.21039 6.98899, 100.20831 6..."
1,สงขลา,รัตภูมิ,เขาพระ,900909,900909.0,26,22,ใต้,ภาคใต้ฝั่งตะวันตก,"MULTIPOLYGON (((100.05704 7.10658, 100.05704 7..."
2,สงขลา,บางกล่ำ,แม่ทอม,901403,901403.0,23,20,ใต้,ทะเลสาบสงขลา,"MULTIPOLYGON (((100.45721 7.11704, 100.45724 7..."
3,สงขลา,เมืองสงขลา,บ่อยาง,900101,900101.0,24,20-is,ใต้,ทะเลสาบสงขลา,"MULTIPOLYGON (((100.59734 7.23755, 100.59741 7..."
4,พังงา,เมืองพังงา,บางเตย,820104,820104.0,26,22,ใต้,ภาคใต้ฝั่งตะวันตก,"MULTIPOLYGON (((98.58305 8.50352, 98.58307 8.5..."
...,...,...,...,...,...,...,...,...,...,...
9299,ขอนแก่น,โคกโพธิ์ไชย,บ้านโคก,402201,402201.0,3,04,ตะวันออกเฉียงเหน,ชี,"MULTIPOLYGON (((102.36483 16.15717, 102.36522 ..."
9300,ขอนแก่น,น้ำพอง,น้ำพอง,400701,400701.0,3,04,ตะวันออกเฉียงเหน,ชี,"MULTIPOLYGON (((102.87199 16.78566, 102.87216 ..."
9301,ขอนแก่น,น้ำพอง,วังชัย,400702,400702.0,3,04,ตะวันออกเฉียงเหน,ชี,"MULTIPOLYGON (((102.87178 16.75169, 102.87179 ..."
9302,ขอนแก่น,น้ำพอง,หนองกุง,400703,400703.0,3,04,ตะวันออกเฉียงเหน,ชี,"MULTIPOLYGON (((102.90598 16.78719, 102.90544 ..."
9303,ขอนแก่น,น้ำพอง,บัวใหญ่,400704,400704.0,3,04,ตะวันออกเฉียงเหน,ชี,"MULTIPOLYGON (((102.98674 16.63923, 102.98758 ..."

In [8]:
ide = geopandas.overlay( gdf,countries_gdf, how='identity')
ide

,lat,lng,PROV_NAMT,AMP_NAMT,TAM_NAMT,tam_id,code_id,FID_MainBa,MB_CODE,region,NBASIN_T,geometry
0,6.98899,100.20831,สงขลา,รัตภูมิ,เขาพระ,900909,900909.0,23.0,20,ใต้,ทะเลสาบสงขลา,POINT (100.20831 6.98899)
1,7.10658,100.05704,สงขลา,รัตภูมิ,เขาพระ,900909,900909.0,23.0,20,ใต้,ทะเลสาบสงขลา,POINT (100.05704 7.10658)
2,8.50352,98.58305,พังงา,ทับปุด,ถ้ำทองหลาง,820704,820704.0,26.0,22,ใต้,ภาคใต้ฝั่งตะวันตก,POINT (98.58305 8.50352)
3,7.23755,100.59734,None,None,None,None,NaN,NaN,None,None,None,POINT (100.59734 7.23755)

In [9]:
j=ide.to_json()
j

'{"type": "FeatureCollection", "features": [{"id": "0", "type": "Feature", "properties": {"AMP_NAMT": "\\u0e23\\u0e31\\u0e15\\u0e20\\u0e39\\u0e21\\u0e34", "FID_MainBa": 23.0, "MB_CODE": "20", "NBASIN_T": "\\u0e17\\u0e30\\u0e40\\u0e25\\u0e2a\\u0e32\\u0e1a\\u0e2a\\u0e07\\u0e02\\u0e25\\u0e32", "PROV_NAMT": "\\u0e2a\\u0e07\\u0e02\\u0e25\\u0e32", "TAM_NAMT": "\\u0e40\\u0e02\\u0e32\\u0e1e\\u0e23\\u0e30", "code_id": 900909.0, "lat": 6.98899, "lng": 100.20831, "region": "\\u0e43\\u0e15\\u0e49", "tam_id": "900909"}, "geometry": {"type": "Point", "coordinates": [100.20831, 6.98899]}}, {"id": "1", "type": "Feature", "properties": {"AMP_NAMT": "\\u0e23\\u0e31\\u0e15\\u0e20\\u0e39\\u0e21\\u0e34", "FID_MainBa": 23.0, "MB_CODE": "20", "NBASIN_T": "\\u0e17\\u0e30\\u0e40\\u0e25\\u0e2a\\u0e32\\u0e1a\\u0e2a\\u0e07\\u0e02\\u0e25\\u0e32", "PROV_NAMT": "\\u0e2a\\u0e07\\u0e02\\u0e25\\u0e32", "TAM_NAMT": "\\u0e40\\u0e02\\u0e32\\u0e1e\\u0e23\\u0e30", "code_id": 900909.0, "lat": 7.10658, "lng": 100.05704, "region": "\\u0e43\\u0e15\\u0e49", "tam_id": "900909"}, "geometry": {"type": "Point", "coordinates": [100.05704, 7.10658]}}, {"id": "2", "type": "Feature", "properties": {"AMP_NAMT": "\\u0e17\\u0e31\\u0e1a\\u0e1b\\u0e38\\u0e14", "FID_MainBa": 26.0, "MB_CODE": "22", "NBASIN_T": "\\u0e20\\u0e32\\u0e04\\u0e43\\u0e15\\u0e49\\u0e1d\\u0e31\\u0e48\\u0e07\\u0e15\\u0e30\\u0e27\\u0e31\\u0e19\\u0e15\\u0e01", "PROV_NAMT": "\\u0e1e\\u0e31\\u0e07\\u0e07\\u0e32", "TAM_NAMT": "\\u0e16\\u0e49\\u0e33\\u0e17\\u0e2d\\u0e07\\u0e2b\\u0e25\\u0e32\\u0e07", "code_id": 820704.0, "lat": 8.50352, "lng": 98.58305, "region": "\\u0e43\\u0e15\\u0e49", "tam_id": "820704"}, "geometry": {"type": "Point", "coordinates": [98.58305, 8.50352]}}, {"id": "3", "type": "Feature", "properties": {"AMP_NAMT": null, "FID_MainBa": null, "MB_CODE": null, "NBASIN_T": null, "PROV_NAMT": null, "TAM_NAMT": null, "code_id": null, "lat": 7.23755, "lng": 100.59734, "region": null, "tam_id": null}, "geometry": {"type": "Point", "coordinates": [100.59734, 7.23755]}}]}'