In [6]:
import pandas as pd
import geopandas
from pandas import DataFrame
import time

In [4]:
df = pd.DataFrame(
    {'City': ['Buenos Aires', 'Brasilia', 'Santiago', 'Bogota', 'Caracas'],
     'Country': ['Argentina', 'Brazil', 'Chile', 'Colombia', 'Venezuela'],
     'Latitude': [-34.58, -15.78, -33.45, 4.60, 10.48],
     'Longitude': [-58.66, -47.91, -70.66, -74.08, -66.86]})

In [5]:
gdf = geopandas.GeoDataFrame(
    df, geometry=geopandas.points_from_xy(df.Longitude, df.Latitude))

In [6]:
print(gdf.head())

           City    Country  Latitude  Longitude                     geometry
0  Buenos Aires  Argentina    -34.58     -58.66  POINT (-58.66000 -34.58000)
1      Brasilia     Brazil    -15.78     -47.91  POINT (-47.91000 -15.78000)
2      Santiago      Chile    -33.45     -70.66  POINT (-70.66000 -33.45000)
3        Bogota   Colombia      4.60     -74.08    POINT (-74.08000 4.60000)
4       Caracas  Venezuela     10.48     -66.86   POINT (-66.86000 10.48000)

In [2]:
ar= [[6.98899,100.20831],[7.10658,100.05704],[7.23755,100.59734],[8.50352,98.58305]]
ar

[[6.98899, 100.20831],
 [7.10658, 100.05704],
 [7.23755, 100.59734],
 [8.50352, 98.58305]]

In [3]:
df = DataFrame(ar,columns=['lat','lng'])
df

       lat        lng
0  6.98899  100.20831
1  7.10658  100.05704
2  7.23755  100.59734
3  8.50352   98.58305

In [4]:
gdf = geopandas.GeoDataFrame(df, geometry=geopandas.points_from_xy(df.lng, df.lat))
gdf.set_crs(epsg=4326, inplace=True)
gdf

       lat        lng                   geometry
0  6.98899  100.20831  POINT (100.20831 6.98899)
1  7.10658  100.05704  POINT (100.05704 7.10658)
2  7.23755  100.59734  POINT (100.59734 7.23755)
3  8.50352   98.58305   POINT (98.58305 8.50352)

In [5]:
countries_gdf = geopandas.read_file("data/tambon_v2.gpkg", layer='tambon',crs={'init': 'epsg:4326'})
countries_gdf

,PROV_NAMT,AMP_NAMT,TAM_NAMT,code_id,MB_CODE,region,NBASIN_T,SB_CODE,SB_NAME_T,geometry
0,สงขลา,รัตภูมิ,เขาพระ,900909.0,20,ใต้,ทะเลสาบสงขลา,2002,ทะเลหลวง,"MULTIPOLYGON (((100.05723 7.10739, 100.05717 7..."
1,สงขลา,รัตภูมิ,เขาพระ,900909.0,20,ใต้,ทะเลสาบสงขลา,2003,ทะเลสาบสงขลา ( ลุ่มน้ำสาขา ),"MULTIPOLYGON (((100.21039 6.98899, 100.20831 6..."
2,สงขลา,รัตภูมิ,เขาพระ,900909.0,20,ใต้,ทะเลสาบสงขลา,2211,คลองละงู,"MULTIPOLYGON (((100.06728 7.02773, 100.06756 7..."
3,สงขลา,รัตภูมิ,เขาพระ,900909.0,20,ใต้,ทะเลสาบสงขลา,2212,คลองบำบัง,"MULTIPOLYGON (((100.19106 6.94693, 100.19106 6..."
4,สงขลา,รัตภูมิ,เขาพระ,900909.0,20,ใต้,ทะเลสาบสงขลา,2213,ภาคใต้ฝั่งตะวันตกตอนล่าง,"MULTIPOLYGON (((100.13513 6.92264, 100.13516 6..."
...,...,...,...,...,...,...,...,...,...,...
15639,ขอนแก่น,น้ำพอง,น้ำพอง,400701.0,04,ตะวันออกเฉียงเหน,ชี,0418,ลำน้ำพองตอนล่างส่วนที่ 1,"MULTIPOLYGON (((102.87199 16.78566, 102.87216 ..."
15640,ขอนแก่น,น้ำพอง,วังชัย,400702.0,04,ตะวันออกเฉียงเหน,ชี,0418,ลำน้ำพองตอนล่างส่วนที่ 1,"MULTIPOLYGON (((102.87178 16.75169, 102.87179 ..."
15641,ขอนแก่น,น้ำพอง,หนองกุง,400703.0,04,ตะวันออกเฉียงเหน,ชี,0418,ลำน้ำพองตอนล่างส่วนที่ 1,"MULTIPOLYGON (((102.90598 16.78719, 102.90544 ..."
15642,ขอนแก่น,น้ำพอง,บัวใหญ่,400704.0,04,ตะวันออกเฉียงเหน,ชี,0418,ลำน้ำพองตอนล่างส่วนที่ 1,"MULTIPOLYGON (((102.98674 16.63923, 102.98758 ..."
15643,ขอนแก่น,น้ำพอง,บัวใหญ่,400704.0,04,ตะวันออกเฉียงเหน,ชี,0419,ห้วยสายบาตร,"MULTIPOLYGON (((103.00385 16.60729, 103.00445 ..."

In [7]:
start=time.time()
ide = geopandas.overlay( gdf,countries_gdf, how='identity')
ide
diftime= time.time()-start

In [9]:
start=time.time()
ide = geopandas.sjoin( gdf,countries_gdf)
ide
diftime= time.time()-start

In [10]:
diftime

0.16179800033569336

In [11]:
j=ide.to_json()
j

'{"type": "FeatureCollection", "features": [{"id": "0", "type": "Feature", "properties": {"AMP_NAMT": "\\u0e23\\u0e31\\u0e15\\u0e20\\u0e39\\u0e21\\u0e34", "MB_CODE": "20", "NBASIN_T": "\\u0e17\\u0e30\\u0e40\\u0e25\\u0e2a\\u0e32\\u0e1a\\u0e2a\\u0e07\\u0e02\\u0e25\\u0e32", "PROV_NAMT": "\\u0e2a\\u0e07\\u0e02\\u0e25\\u0e32", "SB_CODE": "2003", "SB_NAME_T": "\\u0e17\\u0e30\\u0e40\\u0e25\\u0e2a\\u0e32\\u0e1a\\u0e2a\\u0e07\\u0e02\\u0e25\\u0e32 ( \\u0e25\\u0e38\\u0e48\\u0e21\\u0e19\\u0e49\\u0e33\\u0e2a\\u0e32\\u0e02\\u0e32 )", "TAM_NAMT": "\\u0e40\\u0e02\\u0e32\\u0e1e\\u0e23\\u0e30", "code_id": 900909.0, "index_right": 1, "lat": 6.98899, "lng": 100.20831, "region": "\\u0e43\\u0e15\\u0e49"}, "geometry": {"type": "Point", "coordinates": [100.20831, 6.98899]}}, {"id": "1", "type": "Feature", "properties": {"AMP_NAMT": "\\u0e23\\u0e31\\u0e15\\u0e20\\u0e39\\u0e21\\u0e34", "MB_CODE": "20", "NBASIN_T": "\\u0e17\\u0e30\\u0e40\\u0e25\\u0e2a\\u0e32\\u0e1a\\u0e2a\\u0e07\\u0e02\\u0e25\\u0e32", "PROV_NAMT": "\\u0e2a\\u0e07\\u0e02\\u0e25\\u0e32", "SB_CODE": "2003", "SB_NAME_T": "\\u0e17\\u0e30\\u0e40\\u0e25\\u0e2a\\u0e32\\u0e1a\\u0e2a\\u0e07\\u0e02\\u0e25\\u0e32 ( \\u0e25\\u0e38\\u0e48\\u0e21\\u0e19\\u0e49\\u0e33\\u0e2a\\u0e32\\u0e02\\u0e32 )", "TAM_NAMT": "\\u0e40\\u0e02\\u0e32\\u0e1e\\u0e23\\u0e30", "code_id": 900909.0, "index_right": 1, "lat": 7.10658, "lng": 100.05704, "region": "\\u0e43\\u0e15\\u0e49"}, "geometry": {"type": "Point", "coordinates": [100.05704, 7.10658]}}, {"id": "3", "type": "Feature", "properties": {"AMP_NAMT": "\\u0e17\\u0e31\\u0e1a\\u0e1b\\u0e38\\u0e14", "MB_CODE": "22", "NBASIN_T": "\\u0e20\\u0e32\\u0e04\\u0e43\\u0e15\\u0e49\\u0e1d\\u0e31\\u0e48\\u0e07\\u0e15\\u0e30\\u0e27\\u0e31\\u0e19\\u0e15\\u0e01", "PROV_NAMT": "\\u0e1e\\u0e31\\u0e07\\u0e07\\u0e32", "SB_CODE": "2205", "SB_NAME_T": "\\u0e20\\u0e32\\u0e04\\u0e43\\u0e15\\u0e49\\u0e1d\\u0e31\\u0e48\\u0e07\\u0e15\\u0e30\\u0e27\\u0e31\\u0e19\\u0e15\\u0e01\\u0e2a\\u0e48\\u0e27\\u0e19\\u0e17\\u0e35\\u0e48 2", "TAM_NAMT": "\\u0e16\\u0e49\\u0e33\\u0e17\\u0e2d\\u0e07\\u0e2b\\u0e25\\u0e32\\u0e07", "code_id": 820704.0, "index_right": 287, "lat": 8.50352, "lng": 98.58305, "region": "\\u0e43\\u0e15\\u0e49"}, "geometry": {"type": "Point", "coordinates": [98.58305, 8.50352]}}]}'